.keyboard {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.letter {
  width: 3rem;
  height: 3rem;

  background-color: #eee;

  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.occur {
  background-color: var(--match);
}

.guessed {
  background-color: #777;
  color: white;
}
