html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  --match: rgb(158, 221, 133);
  --main: hsl(44, 100%, 89%);
  --grey: rgb(163, 163, 163);

  --included: rgb(218, 205, 25);

  --main-light: hsl(198, 100%, 90%);
}

header h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;

  margin: 0;
  padding: 1rem 0;
}

footer p {
  margin: 0;
  padding: 1rem 0;
  font-size: 1rem;
  text-align: center;
}
main {
  max-width: 390px;
  margin: auto;

  padding: 1rem;
  min-height: calc(100vh - 5rem - 0rem);
  margin-bottom: 4rem;
}
